.main-header {
    .hero.is-dark .tabs.is-boxed li.is-active a,
    .hero.is-dark .tabs.is-boxed li.is-active a:hover,
    .hero.is-dark .tabs.is-toggle li.is-active a,
    .hero.is-dark .tabs.is-toggle li.is-active a:hover {
        background-color: red;
        border-color: red;
        color: #363636;
    }
}

.tags.has-addons {
    margin-bottom: 0.5rem;
    .tag:first-child { 
        min-width: 5rem;
        &+.tag {
            min-width: 20rem;
        }
    }
}